# Compiler files
cache/
out/

# Ignore wallet files
wallet-*.txt

# Ignore broadcast
/broadcast

# Docs
docs/

# Dotenv file
.env
.env.test
.env.main

# For emacs
.projectile-cache.eld
.dir-locals.el


